@supports(--css: variables) {

  /* Login */
  body.login { background:linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('/assets/images/login-background.jpg') center center / cover no-repeat, url('/assets/images/default-featured.jpg') center center / cover no-repeat; }
  #login-form { background-image:url('/assets/images/logo.svg') !important}

  /* Redactor */
  .input .redactor-styles h1, .redactor-dropdown-item-h1 span { font-size:38px !important; line-height:30px !important; color:var(--primary) !important; }
  .input .redactor-styles h2, .redactor-dropdown-item-h2 span { font-size:32px !important; line-height:35px !important; color:var(--primary) !important; }
  .input .redactor-styles h3, .redactor-dropdown-item-h3 span { font-size:22px !important; line-height:26px !important; color:var(--secondary, var(--primary)) !important;  }
  .input .redactor-styles h4, .redactor-dropdown-item-h4 span { font-size:18px !important; line-height:22px !important; color:var(--secondary, var(--primary)) !important; }

  /* Dark blue */
  #global-sidebar { background: var(--primary, #333E4D); }
  #global-sidebar #nav li a .badge { color: var(--primary, #333E4D); }
  #app-info #edition #edition-logo > .edition-trial { color: var(--primary, #333E4D);  }

  /* Orange */
  .readable blockquote.note:not(.tip):not(.warning) { border-color: var(--secondary, #da5a47); color: var(--secondary, #da5a47); }
  .readable blockquote.note:not(.tip):not(.warning):before { content: 'alert'; color: var(--secondary, #da5a47); }
  .required:after { color: var(--secondary, #da5a47); }
  .error { color: var(--secondary, #da5a47) !important; }
  .icon.delete:not(.disabled):hover:before { color: var(--secondary, #da5a47); }
  .btn.submit { background-image:none; background-color:var(--secondary, #da5a47); }
  .btn.submit:not(.disabled):not(.inactive):hover, .btn.submit:not(.disabled):not(.inactive).hover { background:linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)) var(--secondary, #da5a47); }
  table.editable tbody tr td.error { -webkit-box-shadow: inset 0 0 0 1px var(--secondary, #da5a47); box-shadow: inset 0 0 0 1px var(--secondary, #da5a47); }
  .meta > .field.has-errors { border: 1px solid var(--secondary, #da5a47) !important; }
  .menu ul.padded li a[data-icon].error:before, .menu ul.padded li a.icon.error:before, .menu ul.padded li a.sel.error:before { color: var(--secondary, #da5a47); }
  .chars-left.negative-chars-left { color: var(--secondary, #da5a47); }
  .input.errors > .text, .input.errors > .border-box, .input.errors > .passwordwrapper > .text, .text.error { border: 1px solid var(--secondary, #da5a47) !important; }
  ul.errors li { color: var(--secondary, #da5a47); }
  /* .btn:active, .btn.active {  background-color:var(--secondary, #da5a47) } */
  .matrixconfigitem .actions .icon.settings.error:before { color: var(--secondary, #da5a47); }
  #global-sidebar > a.active, #global-sidebar > a:active { background:linear-gradient(to top, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)) var(--secondary, #da5a47);  }
  #global-sidebar #nav li:not(.has-subnav) > a.sel { border-color: var(--secondary, #da5a47); background:var(--secondary, #da5a47) }
  #global-sidebar > a:hover, #global-sidebar *:not(.has-subnav) > a:hover { background-color:var(--secondary, #da5a47) }
  #main-container #alerts { background: var(--secondary, #da5a47); }
  #notifications .notification.error { background: var(--secondary, #da5a47); }

  /* Green */
  .success { color: var(--secondary, #00b007) !important; }
  .lightswitch .label.on, .lightswitch:not(.dragging).on .label.off { background: var(--secondary, #00b007); }

}
