{# ////////////////////////////////////////////////////////////////////////// #}
{# Helpers Generic Template                                                   #}
{# ////////////////////////////////////////////////////////////////////////// #}

{% extends '_layouts/main' %}

{# Content Block ============================================================ #}

{% block content %}

	{# Resolve categories and tags to the entry variable to avoid errors. #}

	{% set entry = entry ?? category ?? tag ?? null %}

	{# Cache the template using readable key name #}

	{% cache globally using key 'content-' ~ (entry.slug ?? (segments is empty ? 'home' : segments|last)) %}

		<main>

			{# 'cleanup' tags remove empty elements and duplicate line breaks #}

			{% cleanup %}

				{{ not entry.isFieldEmpty('body') ? entry.body }}

				{% include "_components/content-blocks" ignore missing %}

				{# Extra Content -------------------------------------------------------
				Wrap extra block content with the <extra-content> element if it's not present. #}

				{% set extra = extra ?? block('extra') ?? false %}
				{% if extra is not empty %}
					{{ '<extra-content' in extra ? extra|raw : ('<extra-content>' ~ extra ~ '</extra-content>')|raw }}
				{% endif %}

			{% endcleanup %}

		</main>

	{% endcache %}

{% endblock %}

{# Aside Block ============================================================== #}

{% block aside %}{% endblock %}
